<div class="container">
  <div class="row">
    <div class="col-md-12 order-md-2 mb-4">
      <form class="card p-2 todo-input" target="#">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Add Your Todo List Here"
            #task
          />
          <div class="input-group-append">
            <button
              type="submit"
              class="btn btn-secondary"
              (click)="handleAddTodo(task.value)"
            >
              Add Todo
            </button>
          </div>
        </div>
      </form>
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Todo List</span>
        <span class="badge badge-danger badge-pill">{{ todoList.length }}</span>
      </h4>
      <ul class="list-group mb-3">
        <li
          class="list-group-item d-flex justify-content-between lh-condensed"
          *ngFor="let todo of todoList"
        >
          <div>
            <h6 class="my-0">{{ todo.task }}</h6>
          </div>
          <ng-container
            *ngIf="todo.status; then finished; else unfinished"
          ></ng-container>
          <ng-template #finished>
            <span class="badge badge-success badge-pill">Finished</span>
          </ng-template>
          <ng-template #unfinished>
            <span class="badge badge-danger badge-pill">Unfinised</span>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</div>
